.buttons
{
  margin:5px;
}
.mat-stroked-button
{
  margin-right:10px;
}
.forms{
  width: 100%;
}
.form {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin:20px;
}
.grid{
  padding: 50px;
  margin-bottom: 100px;
}
#successMsg{
  color:orangered;
}

