<div class="buttons">
  <button mat-stroked-button color="accent" (click)="toggle()" id="bt">{{buttonName}}</button>
  <button mat-stroked-button disabled="accent">delete book</button>
</div>
<mat-grid-list class="grid" *ngIf="add" cols="2" rowHeight="2:1">
  <mat-grid-tile class="grid" >
    <p>Fill the form up with data of books you want to share with other people.<br>
    Other people would contact you to propose an exchange!<br>
    Refresh the page after you submitted the book.<br><br>
    You can also search for book from others already inserted in the database,
    just type something about a book (title, author, genre, year) within the filter bar.

  </p>
  </mat-grid-tile>



<mat-grid-tile class="grid" >
    <form class="form" *ngIf="add" #form="ngForm" (ngSubmit)="addBook(form.value)" >
      <mat-form-field class="forms" >
        <mat-label>Title</mat-label>
        <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error> -->
              <input name="title" [(ngModel)]="title" matInput placeholder="Ex. The great Gatzby" [FormControl]="title" required>
            </mat-form-field>
      <mat-form-field class="forms" >
        <mat-label>Author</mat-label>
              <input name="author" [(ngModel)]="author" matInput placeholder="Ex. Authorx" [FormControl]="author" required>
              <!-- <mat-error *ngIf="author.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      <mat-form-field class="forms" >
        <mat-label>Genre</mat-label>
              <input name="genre" [(ngModel)]="genre" matInput placeholder="Ex. Horror" [FormControl]="genre" required>
              <!-- <mat-error *ngIf="genre.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      <mat-form-field class="forms" >
        <mat-label>Year</mat-label>
              <input name="year" [(ngModel)]="year" matInput placeholder="Ex. 1998" [FormControl]="year" required>
              <!-- <mat-error *ngIf="year.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      <mat-form-field class="forms" >
        <mat-label>E-mail</mat-label>
              <input matInput name="email" [(ngModel)]="email"  placeholder="Ex. unicorns@CODE.com" [FormControl]="email" required>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
      <button mat-stroked-button color="accent" type="submit" id="bt" >Add book</button>
      <div class="row"  *ngIf="showMsg">
          <br>
          <p id="succesMsg">
              Book added to the list! Press ctrl+r to see it!
          </p>
          <br>
        </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
