
      <div class="jumbotron bg-dark" >
          <h1 class="display-4">Some people don't read, some people read too much!</h1>
          <p class="lead">This is a visrtual book library where people just exchange books -for free-
            and share Ideas.
          </p>
          <hr class="my-4">
          <p>You can add your books you already red and exchange them with other people!</p>
        </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>


        <h1>Readshare</h1><br>

    </mat-grid-tile>
    <mat-grid-tile>

        <p>Readshare is an online book library which aims to solve the problem of spending money to read. <br>
        It is born as the challenge for CODE university but it looks forward to change the way people grow their own culture.
        <br>people here share their books for free.<br>
        <br>The project is made by Angular8 and Spring-boot.<br>
        Front-end (Angular8) and back-end(Spring) have been entirely designed and implemented by the applicant.</p>

    </mat-grid-tile>
  </mat-grid-list>


