<div class="mat-app-background">
<mat-toolbar color="accent">
    <h1>
      Readshare
    </h1>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

