<div style="padding: 13px;">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keydown)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <app-addbook></app-addbook>
  <table mat-table [dataSource]="books" class="mat-elevation-z8" >
      <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let book "> {{book.title}} </td>
        </ng-container>
      <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let book "> {{book.author}} </td>
        </ng-container>
      <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> Year </th>
          <td mat-cell *matCellDef="let book "> {{book.year}} </td>
        </ng-container>
      <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef> Genre </th>
          <td mat-cell *matCellDef="let book "> {{book.genre}} </td>
        </ng-container>
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let book "> {{book.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
