/* You can add global styles to this file, and also import other style files */
@import 'C:/Users/USER/CODE/angular/readXchange-frontend/node_modules/bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

