@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-grey, 700,700,700);
$my-custom-accent: mat-palette($mat-deep-orange, 700,700,700);
$my-custom-warn: mat-palette($mat-lime, 700,700,700);

$my-custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);
