<div class="mat-app-background">
    <div class="jumbotron bg-dark" >
        <h1 class="display-4">Some people don't read, some people read too much!</h1>
        <p class="lead">This is a virtual book library where people just exchange books -for free-
          and share Ideas.
        </p>
        <hr class="my-4">
        <p>HEY! That's a gamma version! some features are not yet implemented</p>
        <a mdbBtn color="primary" size="lg" routerLink="/about" role="button" mdbWavesEffect>Learn more</a>
      </div>
      <div class="text-center"><p>Last added books down here!</p></div>
  <app-bookshelf></app-bookshelf>
</div>
